@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Implicit com biblioteca</h1>
    <p>
        Projeto usando o flow Implicit do OpenId Connect com bibliotecas
    </p>
</div>

<div class="row">
    <ol>
        <li>
            Criar projeto web sem autenticação
        </li>
        <li>
            Instalar os seguintes pacotes do NUGET:
            <ul>
                <li>Microsoft.Owin.Host.Systemweb</li>
                <li>Microsoft.Owin.Security.Cookies</li>
                <li>Microsoft.Owin.Security.OpenIdConnect</li>
            </ul>
            Obs.: Lembrar de criar arquivo startup para o OWIN
        </li>
        <li>
            Configurar o projeto para rodar em https
        </li>
        <li>
            Esse projeto de exemplo só funciona no endereço (https://localhost:44385/) que é o que está configurado como redirect uri. Se colocar outro não vai funcionar.
        </li>
        <li>
            Você pode ver o conteúdo do id_token no seguinte endereço: https://jwt.io/
        </li>
    </ol>
    <p>Esse exemplo está usando o Acesso Cidadão publicado no ambiente developer (https://developers.es.gov.br/acessocidadao/)</p>
    <p>Atentar para o fato que até os usuários são diferentes do ambiente normal de produção!</p>
</div>